{% comment %} 
      JP Collection Image Review Tool
      Last editted - 6/1/24
{% endcomment %}
{% liquid
  assign b = section
  assign bs = section.settings
  assign img_target = bs.img_target | plus: 0
%}

{% style %}
  #jp-section-{{ b.id }} {}

#jp-section-{{ b.id }}
.photos {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: nowrap;
  justify-content: center;
}

#jp-section-{{ b.id }}
.no-photo {
  color: red;
  font-size: 38px;
}
#jp-section-{{ b.id }}
.pagination-list li::marker {
  display: none;
  color: white;
}
#jp-section-{{ b.id }}
.photo {
  min-height: inherit;
  height: fit-content;
  max-height: 800px;
  width: 520px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#jp-section-{{ b.id }}
.collection-title {
  padding-left: 15px;
}

#jp-section-{{ b.id }}
.aspect-ratio-good {
  background-color: #c3f6c3;
}
#jp-section-{{ b.id }}
.aspect-ratio-bad {
  background-color: #f6c3dd;
}

ul.pagination-list li:first-child {
  margin-top: 0.25em;
}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section id="jp-section-{{ b.id }}" class="
    featured-video
    section
    is-width-standard
    mobile-text--over-media
    has-padding-top
    has-padding-bottom
  ">
  <div class="
      container
      video__container
      equal-columns--outside-trim
    ">
    <div class="one-whole column content">
      <h2 class="desired-AR-text">Target Aspect Ratio - {{ img_target }}</h2>
      <p>If the collection has an image assigned, it will show as the Collection Image and the Collection Featured Image below.  If no collection image is assigned, then the Collection Featured Image is pulled in from the first product photo of the first product from the default sort order of the collection.</p>
      <div id="collection-photos" class="collection-photos">
        {% paginate collections by bs.pagination_limit %}
          {% for collection in collections %}
            {% assign noColImg = false %}
            {% assign aspect-ratio = collection.image.aspect_ratio | times: 1 | round: 3 %}
            {% assign aspect-ratio-featured = collection.featured_image.aspect_ratio | times: 1 | round: 3 %}
            <div class="has-margin-top has-padding-top" style="margin-top:20px;">
              <h3>
                <a href="/admin/collections/{{collection.id}}" target="_blank">{{ collection.title }}</a>
              </h3>
            </div>

            <div class="photos has-margin-top has-padding-top">
              <div class="photo {% if collection.image %}{% if aspect-ratio == img_target %}aspect-ratio-good{% else %}aspect-ratio-bad{% endif %}{% endif %}" data-url="/admin/collections/{{collection.id}}">
                <h3>
                  Collection Image
                </h3>
                {% if collection.image %}
                  <div><img src="{{ collection.image.src | img_url: '500x500' }}"></div>
                  <div>Dimensions: {{ collection.image.height }}px X {{ collection.image.width }}px</div>
                  <div>Aspect Ratio: {{ aspect-ratio }}</div>
                  {% if aspect-ratio > img_target %}
                    <div>Need to crop sides</div>
                  {% elsif aspect-ratio < img_target %}
                    <div>Need to crop top and bottom</div>
                  {% endif %}
                {% else %}

                  {% assign noColImg = true %}
                  <p class="no-photo">No Collection Image</p>
                {% endif %}
              </div>


              {% assign firstProductId = "" %}
              {% if noColImg %}
                {% if collection.products.size > 0 %}
                  {% assign first_product = collection.products.first %}
                  {% if first_product %}
                    {% assign firstProductId = first_product.id %}
                  {% else %}
                    {% assign noColImg = false %}
                  {% endif %}
                {% else %}
                  {% assign noColImg = false %}
                {% endif %}
              {% endif %}


              <div class="photo text-align-center {% if aspect-ratio-featured == img_target %}aspect-ratio-good{% else %}aspect-ratio-bad{% endif %}" data-url="{% if noColImg == true %}/admin/products/{{ firstProductId }}{% else %}/admin/collections/{{collection.id}}{% endif %}">
                <h3>
                  <a href="{% if noColImg == true %}/admin/products/{{ firstProductId }}{% else %}/admin/collections/{{collection.id}}{% endif %}">Collection Featured Image</a>
                </h3>

                {% if collection.featured_image %}
                  <div><img src="{{ collection.featured_image.src | img_url: '500x500' }}"></div>
                  <div>
                    Dimensions: {{ collection.featured_image.height }}px X {{ collection.featured_image.width }}px
                  </div>
                  <div>Aspect Ratio: {{ collection.featured_image.aspect_ratio | round: 3 }}</div>
                  {% if aspect-ratio-featured > img_target %}
                    <div>{{ bs.instructions-too-wide }}</div>
                  {% elsif aspect-ratio-featured < img_target %}
                    <div>{{ bs.instructions-too-tall }}</div>
                  {% endif %}
                {% else %}


                  <p class="no-photo text-align-center">No Collection Featured Image</p>
                {% endif %}
              </div>
            </div>

            {% if bs.show_description and collection.description != blank %}
              <div class="has-margin-bottom has-padding-bottom ">
                <h4>Collection Description</h4>
                <p>{{ collection.description }}</p>
              </div>

            {% endif %}
          {% endfor %}
          {% render 'pagination', paginate: paginate %}
        {% endpaginate %}
      </div>
    </div>
  </div>
</section>

<script>
  document.getElementById('collection-photos').addEventListener('click', (e) => {
        let targetElement = e.target;
        while (targetElement != null && !targetElement.classList.contains('photo')) {
      targetElement = targetElement.parentNode;
    }
  
    // If a matching element was found and it has a data-url attribute, redirect
    if (targetElement && targetElement.dataset.url) {
      window.open(targetElement.dataset.url, '_blank');
    }
  })
</script>

{% schema %}
  {
    "name": "JP Collection Images Tool",
    "class": "product-photos-section overlaid-header-option",
    "settings": [
      {
        "type": "paragraph",
        "content": "[See demo](https://flexthemesections.com/pages/jp-collection-image-review-tool)"
      },
      {
        "type": "range",
        "id": "pagination_limit",
        "label": "Collections per page",
        "min": 10,
        "max": 500,
        "step": 10,
        "default": 250,
        "info": "Decrease this if the page is taking to long to load."
      },
      {
        "type": "checkbox",
        "id": "show_description",
        "label": "Show collection description",
        "default": true
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "img_target",
        "label": "Target Aspect Ratio",
        "default": "1.0",
        "info": "If AR is less than 1 there must be a 0 before the decimal (e.g. 0.1 NOT .1)."
      },
      {
        "type": "textarea",
        "id": "instructions-too-tall",
        "label": "Instructions when image is too tall",
        "default": "Add padding to sides"
      },
      {
        "type": "textarea",
        "id": "instructions-too-wide",
        "label": "Instructions when image is too wide",
        "default": "Add padding to top and bottom"
      }
    ],
    "presets": [
      {
        "name": "JP Collection Image Review Tool",
        "category": "JadePuma"
      }
    ],
    "enabled_on": {
      "templates": [
        "page"
      ]
    }
  }
{% endschema %}
